<!--Navbar-->
<nav class="navbar navbar-dark navbar-expand-lg container rounded my-3">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Zebu Fur</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>              
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Star Wars Movies</a>
                    <ul class="dropdown-menu">
                        <% for (var i = 0; i < movies.length; i++) { %>
                            <li><a class="dropdown-item" href="/starwarsep/<%= movies[i].episode_number %>"><%= movies[i].title %></a></li>
                        <% } %>
                    </ul>
                  </li>
          
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>