<!doctype html>
<html lang="en">
    <head>
        <%- include ("partials/head.ejs") %>
    </head>
    <body>
        <%- include ("partials/header.ejs") %>

        <main class="container text-center">

            <article class="bg-dark text-white rounded my-3 p-5 shadow">
                <!--Title-->
                <h1>About Us</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies faucibus odio et rhoncus. Vivamus sit amet nunc sed sem mattis consequat eu at lacus. Integer ac facilisis ex, non sagittis elit. In luctus quam urna, eget interdum arcu egestas quis. Ut vel posuere tortor. Vivamus quis elit ac velit imperdiet dictum at ac ante. Nullam fringilla molestie faucibus. Vivamus nulla est, ultrices quis lacus ac, mollis viverra sapien. Vivamus et velit justo. </p>
            </article>    
        </main>
        <footer>
            <div class="container">
                <div class="row text-light text-center py-3">
                    <div class="col">
                        <h4>Fusce feugiat placerat cursus</h4>
                        <p>Aliquam erat volutpat. Phasellus eleifend gravida mauris, nec sagittis est fringilla sed. Sed quis viverra dui. Nam lacus dui, auctor nec suscipit a, vulputate vitae velit.</p>
                    </div>
                    <div class="col">
                        <h4>Etiam et pulvinar ipsum</h4>
                        <p>Duis congue vulputate tortor et efficitur. Nulla facilisi. Nam ut massa euismod, rhoncus arcu in, scelerisque tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    </div>
                    <div class="col">
                        <h4>Vestibulum ligula leo</h4>
                        <p> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ante lacus, varius eget leo id, condimentum luctus dolor. Maecenas tincidunt velit tortor. Nunc luctus lectus ac mi viverra varius. Nulla facilisi.</p>
                    </div>
                </div>
            </div>
            <div class="bg-dark text-light py-2">
                <p class="container">© 2023 inkvoiid. All Rights Reserved</p>
            </div>
        </footer>
        <%- include ("partials/scripts.ejs") %>
    </body>
</html>